.overflow-hidden {
  overflow: hidden;
}

.flex {
  display: flex !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-center {
  display: grid;
  align-items: center;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}
