// color
$color-red: #de052e;
$color-yellow: #ffb800;
$color-dark: #000;
$color-dark-900: #1c1c1c;
$color-dark-800: #292929;
$color-gray-800: #585858;
$color-gray-700: #666;
$color-gray-600: #737373;
$color-gray-500: #818181;
$color-gray-400: #c8c9c9;
$color-gray-200: #efefef;
$color-gray-100: #f2f2f2;
$color-gray-50: #fefefe;
$color-white: #fff;
$color-gray-disabled: #d1d1d1;
$color-blue-hover: #7885f9;

// font-size
$font-size-h1: 24px;
$font-size-h2: 22px;
$font-size-h3: 16px;
$font-size-h4: 14px;
$font-size-h5: 12px;
$font-size-body1: 16px;
$font-size-body2: 14px;
$font-size-body3: 14px;
$font-size-note: 12px;

// font-weight
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

// line-hight
$line-hight-normal: 1.2;

// layout
$topbar-height: 120px;
$sidebar-width: 250px;

// component
$upload-card-max-width: 393px;
