.fill {
  width: 100%;
  height: 100svh;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loadings {
  &_search-block {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_content {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }
}
